 .col-sm-9{		
            color: white;
            margin-top: 15px;
            font-weight: bold;
            text-shadow: 1px 0px 0px black;
        }
        .navbar-nav li a{
            margin-left: 5px;
        } 
        .box .col-md-3{
            color: white;
            padding: 15px;
            font-weight: bold;
            border-radius: 10px;
            border: 5px solid white;
            text-shadow: .5px .3px 0px black;
        }
        .box2 .col-md{
            border: 10px solid white;
            background-color: rgba(0,0,0,0.04);
        }
        .link {
            color: black;
            text-align:left;
        }
        .link a{
            line-height: 28px;
        }
        .footer{
            border: 2px solid orange;
        }